<html>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script></head>
<body>
<h1> Your recommended candidate is <%= rec %></h1>

<h1> Recent reddit activity for your candidate is:<br> <%= reddit_link %></h1>

<a href="landing">Back to Survey!</a>
</body>
</html>
